.piano-explore{
    display:flex;
    justify-content: center;
    align-items:center;
    width:100vw;
    height:93vh;
    /* background: linear-gradient(133deg,rgba(2, 0, 36, 1) 0%, rgba(92, 9, 117, 1) 35%, rgba(23, 14, 14, 1) 100%); */
    background: linear-gradient(180deg, #1a1a2e 0%, #0f0f1a 100%);
    margin-top: 7vh;
    gap: 2vw;
}

.sidepane{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 7px;
    width: 25vw;
    height: 80vh;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden ;
}

.sidepane img{
    width: 100%;
    height: 100%;
    border-radius: 0px;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
}

.sidepane h2{
    font-size: 2rem;
    animation: fadeInUp 1s ease;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.image-section{
    border-radius: 0px;
    display: flex;
    width: 100%;
    height: 40vh; 
    border-radius: 70px 200px 0px 0px;
}

.form-open-piano{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    margin-top: 1vh;
    background-color: rgba(0,119,225,1); 
    color: white;
    animation: blobPulse 2s infinite;
    transition: 0.5s ease;
    position: fixed;
    bottom: 10vh;
}

@keyframes blobPulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 5px 2px rgba(0, 255, 255, 0.5); /* Subtle glow */
        filter: brightness(1); /* No change */
    }
    50% {
        transform: scale(1.015); /* Slightly more pronounced lift and expand */
        box-shadow: 0 0 15px 2px rgba(0, 119, 255, 0.8), 0 0 25px rgba(255, 255, 255, 0.3); /* Brighter, larger glow */
        filter: brightness(1.05); /* Slightly brighter */
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 5px 2px rgba(15, 0, 226, 0.5); /* Return to initial state */
        filter: brightness(1);
    }
}



.maincontent{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    width: 50vw;
    height: 80vh;
    background-color: #e9e9e9;
    border-radius: 1vw;
    border: 1px solid #dadada
}

.slide-navbar{
    margin-top: 1.5vh;
    background-color: #b4b4b4;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items:end;
    height: 7%;
    width: 95%;
    border-radius: 100px;
    font-size: 0.9rem;
}

.tab-options-selected{
    display: flex;
    height: 90%;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 10px 10px 0px 0px;
    transition: 0.3s ;
    cursor: pointer;
    text-wrap: nowrap;
}



.tab-options{
    text-wrap: nowrap;
    display: flex;
    height: 100%;
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
    transition: 0.3s;
}

.tab-options:hover{
    background-color: #d3d3d3;
}

.contents{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin-top: 1%;
    width: 92%;
    height: 80%;
    border-radius: 15px;
    overflow: hidden;
}

.div1,.div2,.div3,.div4{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    padding: 10px;
    animation:slideInFromBottom 0.4s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
    width: 100%;
    height: 100%;
}

.div1 h2,.div2 h2,.div3 h2,.div4 h2{
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 10px;
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(20%); /* Start 100% of its own width to the left */
        opacity: 0; /* And invisible */
    }
    to {
        transform: translateY(0); /* End at its normal position */
        opacity: 1; /* And fully visible */
    }
}

@media screen and (max-width: 480px) {
    .piano-explore{
        flex-direction: column;
        height: auto;
    }
    
    .sidepane{
        width: 90vw;
        height : 45vh;
        margin-top: 2vh;
    }

    .slide-navbar{
        /* overflow: hidden; */
        overflow-y: scroll;
        border-radius: 5px;
    }

    .maincontent{
        width: 90vw;
        height: auto;
        margin-bottom: 3vh;
    }

    .tab-options{
        border-radius: 0px;
    }

    .tab-options-selected{
        border-radius: 0px;
        border-bottom: 1px solid brown;
        color: brown;
    }
}