@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700;900&family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Replace your current body styles with this */
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden; 
  scroll-behavior: smooth;  
font-family: 'Plus Jakarta Sans', sans-serif;}

html{
  scroll-behavior: smooth;
}